@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h2>Click below to go to the privacy and home pages</h2>

<a class="btn btn-primary" asp-controller="Home" asp-action="Privacy"> Privacy Page </a>
<a class="btn btn-danger" asp-controller="Home" asp-action="Index"> Home </a>